html {
  /*
    - Mobile Chrome: prevents reloading page when swiping down
    - Touch-enabled desktop Chrome or Edge: prevents running commands or
      scrolling when swiping (any direction)
  */
  touch-action: none;
}

body {
  background-color: #333;
  margin: 0;
  padding: 0;
}

aside {
  position: fixed;
  opacity: 0.8;
}

aside, aside a {
  color: white;
}

aside#github {
  top: 0;
  left: 0;
}

aside#level {
  bottom: 0;
  left: 0;
}

aside#version {
  bottom: 0;
  right: 0;
}

.board {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: black;
}

.board.GAME {
  cursor: none;
}

.tile {
  float: left;
}

.tile.GOAL {
  background-color: #ff0;
  border-radius: 25%;
}

.tile.OBSTACLE {
  background-color: #0ff;
}

.tile.PLAYER {
  background-color: #f00;
  position: absolute;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  border-radius: 100%;
}

.tile.START {
  background-color: #00f;
  opacity: 0.6;
  border-radius: 25%;
}
