#pontuacao {
	float: left;
	text-align: center;
	font-size: 14pt;	
}

#principal {
	margin: 10px auto;
	border: solid 15px;
	position: relative;
}

/**********************/

.fase {
	display: none;
}

/**********************/

.celula {
	position: absolute;
	background: #DDDDDD;
}

[elemento="NADA"] {
}

[elemento="PERSONAGEM"] {
	background: red;
	position: absolute;
	z-index: 1;
}

[elemento="OBSTACULO"] {
	background: navy;
}

[elemento="SETA_ESQUERDA"] {
	background-image: url('../imagens/seta-esquerda.png');
}

[elemento="SETA_CIMA"] {
	background-image: url('../imagens/seta-cima.png');
}

[elemento="SETA_DIREITA"] {
	background-image: url('../imagens/seta-direita.png');
}

[elemento="SETA_BAIXO"] {
	background-image: url('../imagens/seta-baixo.png');
}

[elemento="ITEM"] {
	background: green;
}

[elemento="SAIDA"] {
	background: yellow;
}

[elemento="COLA"] {
	background: white;
}
