* {
	background-color: black;
}

#pontuacao {
	text-align: center;
	font-size: 14pt;
	color: white;	
}

#principal {
	margin: auto;
	border: 30px solid transparent;
	background-image: url('../imagens/borda.png');
	position: relative;
}

/**********************/

.fase {
	display: none;
}

/**********************/

.celula {
	position: absolute;
	background-color: black;
	background-size: 100%;
}

.NADA {
}

.PERSONAGEM {
	background-color: red;
	position: absolute;
	z-index: 1;
}

.OBSTACULO {
	background-color: navy;
}

.SETA_ESQUERDA {
	background-image: url('../imagens/seta-esquerda.png');
}

.SETA_CIMA {
	background-image: url('../imagens/seta-cima.png');
}

.SETA_DIREITA {
	background-image: url('../imagens/seta-direita.png');
}

.SETA_BAIXO {
	background-image: url('../imagens/seta-baixo.png');
}

.ITEM {
	background-color: green;
}

.SAIDA {
	background-color: yellow;
}

.COLA {
	background-color: white;
}
