* {
	background-color: black;
}

div#meta {
	display: none;
}

/**********************/

div#pontuacao {
	text-align: center;
	font-size: 14pt;
	color: white;
}

div#principal {
	display: none;
	margin: auto;
	position: relative;
	border-style: solid;
	border-color: transparent;
	background-image: url('../img/borda.png');
}

/**********************/

.celula {
	float: left;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.NADA {
}

.PERSONAGEM {
	background-color: red;
	position: absolute;
	z-index: 1;
}

.OBSTACULO {
	background-color: navy;
}

.SETA_ESQUERDA {
	background-image: url('../img/seta-esquerda.png');
}

.SETA_CIMA {
	background-image: url('../img/seta-cima.png');
}

.SETA_DIREITA {
	background-image: url('../img/seta-direita.png');
}

.SETA_BAIXO {
	background-image: url('../img/seta-baixo.png');
}

.ITEM {
	background-color: green;
}

.SAIDA {
	background-color: yellow;
}

.COLA {
	background-color: white;
}

/**********************/

