html, body {
  overscroll-behavior-y: contain;
}

body {
  background-color: #333;
  margin: 0;
  padding: 0;
}

.board {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vmin;
  height: 100vmin;
  background-color: black;
}

.tile {
  float: left;
}

.tile.GOAL {
  background-color: #ff0;
}

.tile.OBSTACLE {
  background-color: #0ff;
}

.tile.PLAYER {
  background-color: #f00;
  position: absolute;
  -webkit-transition-property: top left;
  transition-property: top left;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.tile.START {
  background-color: #00f;
  opacity: 0.4;
}
