html, body {
  overscroll-behavior-y: contain;
}

body {
  background-color: #333;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  opacity: 0.75;
}

.board {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: black;
}

.tile {
  float: left;

  /* width and height are here only to allow ParcelJS hot reload
   * when CSS is changed. These properties are dynamically replaced. */
  width: 5%;
  height: 5%;
}

.tile.GOAL {
  background-color: #ff0;
}

.tile.OBSTACLE {
  background-color: #0ff;
}

.tile.PLAYER {
  background-color: #f00;
  position: absolute;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.tile.START {
  background-color: #00f;
  opacity: 0.4;
}
